# Jupyter notebook sample

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url ='https://docs.google.com/spreadsheets/d/1OtDkT4jpVQ_q1jLEmTyUMCBitWPZhlTRGs3gTQKMgAc/edit?usp=sharing'

In [4]:



#get spreadsheets key from url
gsheetkey = "1OtDkT4jpVQ_q1jLEmTyUMCBitWPZhlTRGs3gTQKMgAc"

#sheet name
sheet_name = 'Sheet1 (1)'

url=f'https://docs.google.com/spreadsheet/ccc?key={gsheetkey}&output=xlsx'
df = pd.read_excel(url,sheet_name=sheet_name)

In [5]:
df.head(10)

,Регион,Магазин,Клиент,"ТО, руб.","Маржа, руб.",Маржа %,Чеков,presale/all
0,Регион 7,012 НОВОСИБИРСК,"ООО ""РАЗРЕЗ ВОСТОЧНЫЙ""",-38112.0,-11277.0,0.355069,NaN,all
1,Регион 7,124 НОВОСИБИРСК-4,"ООО ""БИЛДСЕРВИС""",-23408.0,-2188.0,0.112167,1.0,all
2,Регион 7,030 НОВОСИБИРСК 2,"ООО ""РЕЧТОРГ""",-22902.0,-5654.0,0.296254,NaN,all
3,Регион 7,110 Тюмень Тобольский тракт,"ООО ""СК КВАДРАТ""",-21375.0,-4828.0,0.271046,12.0,all
4,Регион 7,030 НОВОСИБИРСК 2,"ООО ""А-СП""",-15927.0,-2488.0,0.187455,2.0,all
5,Регион 7,031 ТЮМЕНЬ,"ООО ""ЭКВОРА""",-13287.0,-3180.0,0.287198,1.0,all
6,Регион 7,110 Тюмень Тобольский тракт,"ООО ""ОФОРМИСТ""",-12731.0,-2899.0,0.273254,3.0,all
7,Регион 7,016 ОМСК,"ООО ""ПАРФЮМ-ЛИДЕР""",-11781.0,-2061.0,0.209931,3.0,all
8,Регион 7,110 Тюмень Тобольский тракт,"ООО ""НЕОФИТ""",-10485.0,6497.0,-0.743577,21.0,all
9,Регион 7,129 Новокузнецк 2,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЗАВО...",-7480.0,-2095.0,0.336096,4.0,all